<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="workDaoImpl"
		class="spring_homework.java.com.dao.impl.workDaoImpl"></bean>

	<bean id="workServiceImpl"
		class="spring_homework.java.com.service.impl.WorkServiceImpl">
		<property name="title" value="tom" />
		<property name="price" value="123" />
	</bean>

</beans>